{# templates/security/log.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {# Ajoutez ici le formulaire de connexion #}
    {# Assurez-vous que le formulaire utilise la sécurité de Symfony #}
{% endblock %}
