{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.css') }}">
    <!-- <link rel="stylesheet" href="assets/styles/style1.scss"> -->
    <link rel="stylesheet" href={{ asset('assets/styles/style.css') }}>
{% endblock %}

{% block title %}Hello EvenementsController!{% endblock %}


{% block body %}

    <!-- Formulaire evenement -->


    <!-- Fin formulaire -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>EVENEMENTS</h1>
    <br>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div><br>

        <button onclick="afficherFormulaire()" type="button" class="btn btn-primary">AJOUTER EVENEMENT </button>
    </div>

{% endblock %}