<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
    {% endblock %}
    

</head>
<body>

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">
            <div class="texte">
                <h1>Accueil</h1>
                <p>Bienvenue sur l'application de localisation des terrains de sport</p>
            </div>
            <body>

            <!-- Ebook Intro Section -->
            <div class="container section-padding">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="heading-section">Welcome to Smallpdf</h2>
                        <p>Digital Documents Made Easy</p>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="heading-section">About The Book</h2>
                        <p>Credit goes to image creators. This is an ebook landing page template using Bootstrap 5 CSS layout.</p>
                    </div>
                </div>
            </div>

            <!-- Book Preview Section -->
            <div class="book-section section-padding">
                <div class="container">
                    <h3 class="heading-section">What's inside?</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Table of Contents -->
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">Introduction</a>
                                <a href="#" class="list-group-item list-group-item-action">Chapter 1: Win back your time</a>
                                <a href="#" class="list-group-item list-group-item-action">Chapter 2: Work less, do more</a>
                                <a href="#" class="list-group-item list-group-item-action">Chapter 3: Delegate</a>
                                <a href="#" class="list-group-item list-group-item-action">Chapter 4: Habits</a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>Introducing ebook</h4>
                            <p>This ebook landing page is good to use for any purpose. The layout is based on Bootstrap 5 CSS framework.</p>
                            <blockquote class="blockquote">
                                <p class="mb-0">Lorem Ipsum dolor sit amet, consectetur adipiscing kengan omeg kohm tokito</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Author Section -->
            <div class="author-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 d-flex justify-content-center">
                            <img src="path-to-author-image.jpg" alt="Author" class="author-img img-fluid">
                        </div>
                        <div class="col-lg-8">
                            <h4>Meet Author Prof. Sophia</h4>
                            <p>This is an ebook landing page template with Bootstrap 5 CSS framework. It is easy to customize with the use of Bootstrap CSS classes.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Credits Section -->
            <div class="credits-section">
                <div class="container">
                    <p>When you need free HTML CSS templates, please visit TemplateMo website which provides a variety of templates.</p>
                </div>
            </div>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

            </body>

        </div>

    </div>
{#
    <br>
    <br>
    <br>
    <br>
    <!-- Contenu de la page d'accueil -->
    <div class="container mt-3">
        <br>
        <br>
        <h1 col>Bienvenue sur l'application de localisation des terrains de sport</h1><br>

    </div><br>

    <!-- Première partie -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>FOOTBALL</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">FOOTBALL</text></svg>
                <div class="card-body">
                    <img src="C:\wamp64\www\ProjetINF8\public\images\foot.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>BASKETBALL</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">BASKETBALL</text></svg>
                <div class="card-body">
                    <img src="images/basket.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>RUGBY</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">RUGBY</text></svg>
                <div class="card-body">
                    <img src="images/rugby.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Fin première partie -->

    <!-- Partie centrale -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <h3 style="text-align: center; background-color: black; color: white; background-width: 20px;">NOS EVENEMENTS </h3>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/evefoot.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/evebasket.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/everugby.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Fin partie centrale -->

    <!-- Deuxieme partie -->

    <div class="card text-center">
        <div class="card-header">
            ACTUALITES
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ path('app_evenements') }}" class="btn btn-primary">Consulter nos évènements</a>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>

    <!-- Fin deuxieme partie -->
#}
{% endblock %}


</body>
</html>
