<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}
    

</head>
<body style="background-color: #16191c; color: white">

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">

            <div style="background: url('images/Banniere.jpg') center center no-repeat; background-size: cover; height: 50vh;">
                <section class="text">
                    <br>
                    <br>
                    <br>
                    <h1>Availaball</h1>
                    <p>Basket/Foot</p>
                    <p>Ball</p>

                </section>
            </div>
            <br>
            <br>
            <div class="titre">
                <h1>Accueil</h1>
                <p>Bienvenue sur l'application de localisation des terrains de sport</p>
            </div>

            <br>
            <br>
            <div class="container section-padding">
                <div class="row">
                    <div class="col-lg-6">

                        <img src="images/Ant.png" alt="Basket" class="img-fluid">
                    </div>
                    <div class="col-lg-6" style="background-color: #212529">
                        <br>
                        <br>
                        <br>
                        <h2 class="heading-section">Basket-ball</h2>
                        <p>
                            La passion du basketball vous anime, vous vagabondez dans Paris, ballon en main, à la recherche d'un terrain libre. Chaque coin de rue pourrait être l'arène de vos exploits, mais la réalité est souvent moins clémente : tous semblent occupés ou hors d'accès. Cette quête du terrain parfait devient alors un jeu en soi, teinté d'espoir et de détermination.</p>
                        <button class="btn btn-primary">Voir les terrains</button>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row">
                    <div class="col-lg-6" style="background-color: #212529">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2 class="heading-section">Football</h2>
                        <p>
                            Le football est un sport qui se joue à 11 contre 11, avec un ballon rond. Le but du jeu est de marquer des buts en faisant passer le ballon dans les buts adverses. Le football est un sport collectif qui demande une grande cohésion d'équipe et une bonne condition physique. Il est très populaire dans le monde entier et est souvent considéré comme le sport le plus populaire au monde.</p>
                        <button class="btn btn-primary">Voir les terrains</button>
                    </div>
                    <div class="col-lg-6">
                        <img src="images/Sonn.png" alt="Football" class="img-fluid">
                    </div>
            </div>
            <br>
            <br>
            <br>
                <hr style="color: white">
            <br><br><br>
                <h1 align="center">Terrains</h1>
                <p align="center">Voici quelque terrains coup de coeur de ce mois ci:</p>
                <div class="wrapper">

                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <ul class="carousel">
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>Blanche Pearson</h2>
                            <span>Sales Manager</span>
                        </li>
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>Joenas Brauers</h2>
                            <span>Web Developer</span>
                        </li>
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>Lariach French</h2>
                            <span>Online Teacher</span>
                        </li>
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>James Khosravi</h2>
                            <span>Freelancer</span>
                        </li>
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>Kristina Zasiadko</h2>
                            <span>Bank Manager</span>
                        </li>
                        <li class="card">
                            <div class="img"><img src="images/logoo.png" alt="img" draggable="false"></div>
                            <h2>Donald Horton</h2>
                            <span>App Designer</span>
                        </li>
                    </ul>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                </div>

                <hr style="color: white">

                




                    <!-- Credits Section -->


            <!-- Bootstrap Bundle with Popper -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

            </body>

        </div>

    </div>
{#
    <br>
    <br>
    <br>
    <br>
    <!-- Contenu de la page d'accueil -->
    <div class="container mt-3">
        <br>
        <br>
        <h1 col>Bienvenue sur l'application de localisation des terrains de sport</h1><br>

    </div><br>

    <!-- Première partie -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>FOOTBALL</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">FOOTBALL</text></svg>
                <div class="card-body">
                    <img src="C:\wamp64\www\ProjetINF8\public\images\foot.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>BASKETBALL</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">BASKETBALL</text></svg>
                <div class="card-body">
                    <img src="images/basket.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>RUGBY</title><rect width="100%" height="100%" fill=""></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">RUGBY</text></svg>
                <div class="card-body">
                    <img src="images/rugby.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Voir les terrains</small>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Fin première partie -->

    <!-- Partie centrale -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <h3 style="text-align: center; background-color: black; color: white; background-width: 20px;">NOS EVENEMENTS </h3>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/evefoot.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/evebasket.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/everugby.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- Fin partie centrale -->

    <!-- Deuxieme partie -->

    <div class="card text-center">
        <div class="card-header">
            ACTUALITES
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ path('app_evenements') }}" class="btn btn-primary">Consulter nos évènements</a>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
        </div>
    </div>

    <!-- Fin deuxieme partie -->
#}
{% endblock %}


</body>
</html>
