{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <container>
        <row>
            <columns>
                <p>Merci pour votre message, {{ name }} !</p>
                <p>Message :</p>
                <p>{{ message }}</p>
            </columns>
        </row>
    </container>

{% endblock %}

{% block action %}

{% endblock %}