<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nouveau message du formulaire de contact</title>
    <style>
        /* Ajoutez des styles CSS pour le formatage de l'e-mail */
    </style>
</head>
<body>
<p><strong>De :</strong> {{ name }}</p>
<p><strong>Message :</strong></p>
<p>{{ message|nl2br }}</p>
</body>
</html>
